<a href="https://colab.research.google.com/github/Pratiksha3677/1_Assignment/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What is List?

A List is a build in data type that is used to store multiple item in singel variable.In list element have fixed in order (index start from 0).List is Mutable we can change ,remove,or add elements.List is Hetrogenious it can store different data type(int,float,string etc)
It is dynamic size can grow and shrink.

eg:
my_list = [10, "Pratiksha", 3.5, True]

What is tuple?

In tuple items are stored in fixed sequence.You cannot change, add, or delete items once the tuple is created.Just like lists, tuples can store repeated elements.you can use different data type.

Syntax:

Use parentheses ( ) to create a tuple:
my_tuple = (10, 20, 30)

In [1]:
#Python Program to find the largest element in the list

numbers = [10, 25, 47, 3, 98, 56]

largest = max(numbers)

print("Largest element:", largest)

Largest element: 98

In [2]:
#without using max function
numbers = [10, 25, 47, 3, 98, 56]

largest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num

print("Largest element:", largest)

Largest element: 98

In [3]:
#using sort function
numbers = [10, 25, 47, 3, 98, 56]

numbers.sort()

print("Largest element:", numbers[-1])

Largest element: 98

In [4]:
#Python program to interchange first and last elements in a list.

lst = [10, 20, 30, 40, 50]

temp = lst[0]
lst[0] = lst[-1]
lst[-1] = temp

print("List after swapping:", lst)

List after swapping: [50, 20, 30, 40, 10]

In [8]:
#Python program to swap two elements in a list
lst=[10,20,30,40,50]
lst[0],lst[1]=lst[1],lst[0]
print(lst)

[20, 10, 30, 40, 50]

In [10]:
#Python program to Reverse a List
lst=[10,20,30]
lst.reverse()
print(lst)

[30, 20, 10]

In [11]:
#Python program to count occurrences of an element in a list
lst = [1, 2, 3, 2, 4, 2, 5]

element = 2

count = lst.count(element)

print("Occurrences:", count)

Occurrences: 3

In [12]:
#Python program to find the sum of elements in a list
lst = [10, 20, 30, 40, 50]

total = sum(lst)

print("Sum of elements:", total)

Sum of elements: 150

In [13]:
#Python program to Multiply all numbers in the list
lst = [2, 3, 4, 5]

product = 1
i = 0

while i < len(lst):
    product *= lst[i]
    i += 1

print("Product of elements:", product)

Product of elements: 120

In [14]:
#What are the ways to find the length of a list
lst = [10, 20, 30, 40]
length = len(lst)
print("Length:", length)

Length: 4

In [15]:
#Python program to find the smallest and largest number in a list (Without min-max function)

lst = [10, 25, 3, 99, 45, 1, 67]
smallest = lst[0]
largest = lst[0]

for num in lst:
    if num < smallest:
        smallest = num
    if num > largest:
        largest = num

print("Smallest number:", smallest)
print("Largest number:", largest)

Smallest number: 1
Largest number: 99

In [16]:
#Python Program to find the area of a circle
import math

radius = float(input("Enter radius: "))

area = math.pi * (radius ** 2)

print("Area of circle:", area)

Enter radius: 4
Area of circle: 50.26548245743669

In [17]:
#Take inputs from the user to make a list. Again take one input from the user and search it in the list and delete that element, if found. Iterate over a list using for loop.

# Step 1: Take inputs from the user to create a list
n = int(input("How many elements you want to enter? "))

lst = []
for i in range(n):
    element = input("Enter element: ")
    lst.append(element)

# Step 2: Take one more input to search and delete
item = input("Enter the element to delete: ")

if item in lst:
    lst.remove(item)
    print(item, "deleted from the list")
else:
    print(item, "not found in the list")

# Step 3: Iterate and print the updated list
print("Updated list:")
for i in lst:
    print(i)

How many elements you want to enter? 3
Enter element: 10 20 30
Enter element: 20
Enter element: 29
Enter the element to delete: 20
20 deleted from the list
Updated list:
10 20 30
29

In [18]:
#You are given a list of integer elements. Make a new list that will store a square of elements of the previous list. (With and without list comprehension)
#i. Input_list = [2,5,6,12]
#ii. Output_list = [4,25,36,144]
input_list = [2, 5, 6, 12]

output_list = []

for num in input_list:
    output_list.append(num * num)

print(output_list)

[4, 25, 36, 144]

In [19]:
#without comprehension
input_list = [2, 5, 6, 12]

output_list = [num * num for num in input_list]

print(output_list)

[4, 25, 36, 144]